<h1>IT-Sicherheit Secure Password</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  Welcome to IT-Sicherheit Secure Password! <br/> Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>